* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.card_container {
    position: relative;
    padding: 0 20px;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: end;
    flex-direction: column;
    
}


img{
    position: absolute;
    left: 20px;
    top: 5%;
    width: 350px;
    height: 350px;

}

